<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <li>
            <a href="/">Home |</a>
            <a href="/projects">| Projects |</a>
            <p style="display: inline-block;">Contacts</p>
        </li>
        <h3 style="text-align: center; margin-top: 70px">Contact Me!</h3>
        <form style="margin-top: 50px;" class="form-group" action="">
            <div style="margin: auto; width: 50%;" class="row">
                <div class="col">
                    <div>
                        <label for="">Name: 
                            <input class="form-control" type="text">
                        </label>
                    </div>

                    <div>
                        <label for="">Email: 
                            <input class="form-control" type="text">
                        </label>
                    </div>
                </div>
                
                <div class="col">
                    <div>
                        <label for="">Messages:
                            <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
                        </label>
                    </div>
                    <button>Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>