<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="container">
            <li>
                <p style="display: inline-block;">Home</p>
                <a href="/projects">| Projects |</a>
                <a href="/contacts">Contacts</a>
            </li>
        <div style="margin-top: 30px;">
            <h1>About Me</h1>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div style="padding-left: 50px; margin-left: 75px" class="col">
                <img src="spiderman.jpg" alt="spiderman">
                <h3>Henry Le</h3>
                <h4>I like stuff!</h4>
            </div>
            <div class="col">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum corrupti doloribus facilis sit molestias, laborum natus. Nihil culpa veniam, dolor adipisci corporis quidem incidunt explicabo doloremque excepturi quasi quia nisi!
                Voluptates, dicta quo veritatis nulla molestiae quibusdam? Temporibus officia qui, nesciunt, iure unde porro soluta labore id quasi vel consequatur sed fugiat. Ex recusandae modi facilis eum aliquid nesciunt quaerat!
                Neque explicabo quisquam porro soluta error, placeat tempore quas vel cum provident nostrum possimus non debitis, quia, pariatur deleniti sed! Cupiditate nisi minima quas voluptates suscipit. Iure adipisci quod nisi!</p>
            </div>
        </div>
    </div>
</body>
</html>